version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8000:80"
    environment:
      - DB_HOST=db
      - DB_NAME=requirements_db
      - DB_USER=root
      - DB_PASS=root
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      - MYSQL_DATABASE=requirements_db
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3306:3306"
    volumes:
      - ./database/schema.sql:/docker-entrypoint-schemadb.d/schema.sql

