apiVersion: batch/v1
kind: Job
metadata:
  name: db-migration
spec:
  template:
    spec:
      containers:
      - name: migrate
        image: requirements-app:latest
        imagePullPolicy: IfNotPresent
        command: ["php", "database/migrate.php"]
        env:
        - name: DB_HOST
          value: "db"
        - name: DB_NAME
          value: "requirements_db"
        - name: DB_USER
          value: "root"
        - name: DB_PASS
          value: "root"
      restartPolicy: Never